<app-admin-header></app-admin-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 style="text-align: center;">Add a new member</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="emailAddress" id="emailAddress" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="dateOfBirth" id="dateOfBirth" placeholder="Date of birth">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" placeholder="Mobile number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <select class="form-select" name="membershipType" id="membershipType">
                                    <option value="">--- Choose ---</option>
                                    <option value="ooo">XXXXXXXXXXXXXXX</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="addressLine1" id="addressLine1" placeholder="Address line 1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="addressLine2" id="addressLine2" placeholder="Address line 2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="city" id="city" placeholder="City">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="state" id="state" placeholder="City">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="pinCode" id="pinCode" placeholder="Pin code">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="country" id="country" placeholder="Country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button class="btn btn-success" type="button">Add member</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>