<app-admin-header></app-admin-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Equipment entry form</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="equipmentName" id="equipmentName" placeholder="equipment name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="dateOfPurchase" id="dateOfPurchase" placeholder="Date of purchase (YYYY-MM-DD)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="quantity" id="quantity" placeholder="equipment quantity">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="pricePerItem" id="pricePerItem" placeholder="Cost per item">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <textarea class="form-control" name="description" id="description" placeholder="description..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="vendorName" id="vendorName" placeholder="Vendor name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="vendorContactNo" id="vendorContactNo" placeholder="Vendor contact no">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <textarea class="form-control" name="vendorAddress" id="vendorAddress" placeholder="vendor address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 d-flex justify-content-center">
                                <button class="btn btn-success w-50" type="button">Add equipment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>