<app-admin-header></app-admin-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Add payment</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <select class="form-select" name="memberId" id="memberId">
                                    <option value="">--- Chosse ---</option>
                                    <option value="CC">XXXXXXXXXX</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="paymentDate" id="paymentDate" placeholder="payment date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" name="paymentAmount" id="paymentAmount" class="form-control" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 d-flex justify-content-center">
                               <button type="button" class="btn btn-success w-50">Make payment</button>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>