<app-admin-header></app-admin-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-dark">
                        <th>Member id</th>
                        <th>Member name</th>
                        <th>Contact no</th>
                        <th>Email id</th>
                        <th>Membership status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                    </tr>
                    <tr>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                    </tr>
                    <tr>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>