<app-admin-header></app-admin-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-dark">
                        <th>Equipment id</th>
                        <th>Equipment name</th>
                        <th>Price per unit</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                    </tr>
                    <tr>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                    </tr>
                    <tr>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                        <td>DDDDDDDDDD</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>